<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BBSR_Energieausweis.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DibtEnergieAusweisServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="DibtEnergieAusweisServiceSoap1" />
        <binding name="DibtEnergieAusweisServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="DibtEnergieAusweisServiceSoap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://energieausweis.dibt.de/published/WebServiceEnergieausweis/DibtEnergieAusweisService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DibtEnergieAusweisServiceSoap"
        contract="ServiceReferencePublished.DibtEnergieAusweisServiceSoap"
        name="DibtEnergieAusweisServiceSoap" />
      <endpoint address="https://energieausweis.dibt.de/sandbox/WebServiceEnergieausweis/DibtEnergieAusweisService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DibtEnergieAusweisServiceSoap2"
        contract="ServiceReferenceSandbox.DibtEnergieAusweisServiceSoap"
        name="DibtEnergieAusweisServiceSoap1" />
    </client>
  </system.serviceModel>
  <userSettings>
    <BBSR_Energieausweis.My.MySettings>
      <setting name="PDF_Key" serializeAs="String">
        <value />
      </setting>
      <setting name="Creator" serializeAs="String">
        <value>BBSR Druckapplikation 2025</value>
      </setting>
      <setting name="Subject" serializeAs="String">
        <value>BBSR Druckapplikation 2025</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>BBSR Druckapplikation 2025</value>
      </setting>
      <setting name="Author" serializeAs="String">
        <value>Bundesamt für Bauwesen und Raumordnung</value>
      </setting>
      <setting name="Producer" serializeAs="String">
        <value>BBSR Druckapplikation 2025</value>
      </setting>
      <setting name="Keywords" serializeAs="String">
        <value>BBSR, Energieausweis, Druckapplikation, GEG, EnEV</value>
      </setting>
      <setting name="Passwort" serializeAs="String">
        <value>BBSR Druckapplikation 2025</value>
      </setting>
    </BBSR_Energieausweis.My.MySettings>
  </userSettings>
</configuration>